<div id="selectable-tile-1" class="selectable-tile first-selectable" ng-click="ngModel.valueUsedOut(1)||ngModel.selectNumber(1)">1</div>
<div id="selectable-tile-2" class="selectable-tile" ng-click="ngModel.valueUsedOut(2)||ngModel.selectNumber(2)">2</div>
<div id="selectable-tile-3" class="selectable-tile" ng-click="ngModel.valueUsedOut(3)||ngModel.selectNumber(3)">3</div>
<div id="selectable-tile-4" class="selectable-tile" ng-click="ngModel.valueUsedOut(4)||ngModel.selectNumber(4)">4</div>
<div id="selectable-tile-5" class="selectable-tile" ng-click="ngModel.valueUsedOut(5)||ngModel.selectNumber(5)">5</div>
<div id="selectable-tile-6" class="selectable-tile" ng-click="ngModel.valueUsedOut(6)||ngModel.selectNumber(6)">6</div>
<div id="selectable-tile-7" class="selectable-tile" ng-click="ngModel.valueUsedOut(7)||ngModel.selectNumber(7)">7</div>
<div id="selectable-tile-8" class="selectable-tile" ng-click="ngModel.valueUsedOut(8)||ngModel.selectNumber(8)">8</div>
<div id="selectable-tile-9" class="selectable-tile" ng-click="ngModel.valueUsedOut(9)||ngModel.selectNumber(9)">9</div>
<div id="selectable-tile-0" class="selectable-tile last-selectable" ng-click="ngModel.selectNumber(null)">&nbsp;</div>