<div id="content" ng-controller="GameController as ctrl">
   <div id="heading" class="row">
      <div class="scores-container">
         <div class="timer-container"id="timerEclipsed">{{ ctrl.game.printableHours }}:{{ ctrl.game.printableMinutes }}:{{ ctrl.game.printableSeconds }} Score: {{ctrl.game.score}}</div>
         <a href="#" class="btn btn-danger" ng-click="ctrl.game.newGame()">新游戏 <span class="glyphicon glyphicon-refresh"></span></a>

         <div class="btn-group">
           <button type="button" class="btn btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             难度
             <span class="caret"></span>
           </button>
           <div class="dropdown-menu">
               <li>
                  <div>
                     <label class="radio-inline"> <input class="dropdown-item" type="radio" name="level" ng-model="ctrl.game.level" checked value="0"> 容易</label>
                     <a href="#"><span class="glyphicon glyphicon-star-empty pull-right"></span></a>
                  </div>
               </li>
               <li>
                  <div>
                     <label class="radio-inline"> <input class="dropdown-item" type="radio" name="level" ng-model="ctrl.game.level" checked value="1"> 一般</label>
                  </div>
               </li>
               <li>
                  <div>
                     <label class="radio-inline"> <input class="dropdown-item" type="radio" name="level" ng-model="ctrl.game.level" checked value="2"> 困难</label>
                     <a href="#"><span class="glyphicon glyphicon-star pull-right"></span></a>
                  </div>
               </li>
               <li>
                  <div>
                     <label class="radio-inline"> <input class="dropdown-item" type="radio" name="level" ng-model="ctrl.game.level" checked value="3"> 魔鬼难</label>
                     <a href="#"><span class="glyphicon glyphicon-star pull-right"></span></a>
                     <a href="#"><span class="glyphicon glyphicon-star pull-right"></span></a>
                  </div>
               </li>
           </div>
         </div>
         <span style="display:inline-block; width: 100px;"></span>
         <a href="#" class="btn btn-success" id="tipsButton" ng-click="ctrl.game.tipsCount == 0 || ctrl.game.tips()">提示 {{ ctrl.game.tipsCount }} <span class="glyphicon glyphicon-screenshot"></span></a>
      </div>
   </div>
   <div id="game-container">
      <div grid ng-model="ctrl.game" class="row"></div>
      <div class="row">
         <div id="selector" selector ng-model="ctrl.game"></div>
      </div>
      <div class="row">
         <div id="importergame" importergame ng-model="ctrl.game"></div>
      </div>
      <div class ="center">
         <p align="center">
            <a href="#" class="btn btn-primary" ng-click="ctrl.game.exportGame()">导出 <span class="glyphicon glyphicon-export"></span></a>
            <a href="#" class="btn btn-success" ng-click="ctrl.game.importGame()" title="用逗号分隔">导入 <span class="glyphicon glyphicon-import"></span></a>
            <span style="display:inline-block; width: 100px;"></span>
            <a href="#" class="btn btn-primary" ng-click="ctrl.game.inputGame()">输入 <span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#" class="btn btn-success" ng-click="ctrl.game.inputGameOver()">输入结束 <span class="glyphicon glyphicon-ok"></span></a>
         </p>

      </div>
   </div>
   <div class="modal fade" id="winmodal">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> 
               <h4 class="modal-title">!! Congratulations!!</h4>
            </div>
            <div class="modal-body">
               <h3>Congratulations, you have completed the sudoku correctly in {{ ctrl.game.printableHours }}h {{ ctrl.game.printableMinutes }}:{{ ctrl.game.printableSeconds }}! </h3>
               <p>Maybe it's a good time to brag about sharing the result;) </p>
               <div class="clearfix addthis_toolbox addthis_default_style addthis_32x32_style" addthis:title="He completado un Sudoku en {{ ctrl.game.printableHours }}h {{ ctrl.game.printableMinutes }}:{{ ctrl.game.printableSeconds }}. ¿Crees que puedes hacerlo mejor?"> <a class="addthis_button_preferred_1"></a> <a class="addthis_button_preferred_2"></a> <a class="addthis_button_preferred_3"></a> <a class="addthis_button_preferred_4"></a> <a class="addthis_button_compact"></a> </div>
               <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script> 
            </div>
            <div class="modal-footer"> <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> </div>
         </div>
         <!-- /.modal-content --> 
      </div>
      <!-- /.modal-dialog --> 
   </div>
   <!-- /.modal --> 
</div>