.praise{
    display: none;
    text-align: center;
    color: #f00;
 }

.scaleOut{
    height:150px;
    width:150px;
    animation:move 1s 1 ease-in-out;
 }

@keyframes move{
0%{
 transform: scale(1) rotate(0deg);
}
  100%{
   transform: scale(2) rotate(0.1deg);

  }

}